body {
    background-color: #11004e;
    color: #FFF
}

.navbar-nav {
    font-size: 18px;
}

.navbar-header a {
    font-size: 22px;
}

.navbar {
    padding: 10px 5px;
}

footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
}

footer p {
    font-size: 16px;
    color: white;
    text-align: center;
}

p {
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}